# Core functionality - changes here should be rare!
/src/app.py                   @Mittalkabir
/src/backend/database.py      @Mittalkabir
/src/backend/routers/auth.py  @Mittalkabir

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Mittalkabir
